.premier:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0.5s linear;
    
}
.premier{
    overflow: hidden;
}